*{margin: 0; padding: 0;}

button:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
input:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

body{
    background-color: #d8ffc7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}

.root{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    height: 90vh;
    margin-top: 2.5%;
}
.wallet{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
}
.actions{
    background-color: #b1ff8f;
    height: 10vh;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 15px;
    text-align: center;
}
.actions button{
    margin-top: 1%;
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 50%;
    background-color: #338310;
}
.actions button:hover{
    margin-top: 0.4%;
    width: 60px;
    height: 60px;
    font-size: 40px;
    color: white;
}
.actionsResults{
    background-color: #b1ff8f;
    margin-top: 2%;
    width: 70%;
    height: 20vh;
    margin-left: 15%;
    display: none;
    border-radius: 15px;
    text-align: center;
}
.actionsResults label{
    font-size: 20px;
    font-weight: bold;
}
.actionsResults input{
    width: 20%;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
}
.actionsResults button{
    margin-top: 1%;
    margin-bottom: 0.5%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: grey;
    transform: scale(0.8);
}

.actionsResults button:hover{
    background-color: green;
    transform: scale(1);
}

.actionsResults #btnNewExpense:hover{
    background-color: red;
    transform: scale(1);
}
.lists{
    height: 10vh;
    margin-top: 2%;
    width: 93%;
    display: flex;
    margin-left: 5%;
}
.lists :is(.all, .allIncomes, .allExpenses){
    width: 30%;
    margin-left: 1%;
    background-color: #338310;
    height: 40vh;
    border-radius: 5px;
    background-color: #b1ff8f;
}
.lists :is(.all-header, .allIncomes-header, .allExpenses-header){
    text-align: center;
}

.lists .allIncomes{
    color: green;
}
.lists .allExpenses{
    color: red;
}

.lists ul{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 17px;
    font-weight: bold;
    height: 30vh;
    overflow-y: scroll;
    list-style: none;
}
.lists li{
    margin-top: 1%;
    margin-left: 2%;
}